.beltfinance {
  --primary-color: #FF8336;
  --bg-color: #1B1B1B;
  --text-color: #838383;
  --link-color: #FF8336;
  --heading-color: #FFFFFF;
  --border-color: #292929;
  --header-bg: #1B1B1B;
  --block-bg: transparent
}
